/* 
  CreatePackDetails.tsx Stylesheet
*/

.card-pack-details-input-container {
  margin-top: 1em;
}

.card-pack-details-input {
  width: 100%;
}

.card-pack-details-input-label {
  margin-top: 1em;
  margin-top: 1em;
}
