/* 
  HeaderBar.tsx Stylesheet
*/

.header-bar-container {
  margin: auto;
  margin-bottom: 2em;
  height: 5em;
  background-color: #d1c4e9;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.header-bar-logo {
  position: relative;
  bottom: 1.5em;
  text-align: center;
}

.header-bar-create-button {
  z-index: 2;
  position: relative;
  top: 1.5em;
  margin-left: 2em;
}
