/* 
  PackDetails.tsx Stylesheet
*/

.pack-details-component {
  float: left;
  width: 33.3%;
}

.pack-details-pack-info {
  text-align: center;
}

.pack-details-language-flag {
  margin-top: 1em;
}

.pack-details-description {
  clear: both;
  text-align: center;
  color: #757575;
  width: 70%;
  margin: auto;
}
