/* 
  VocabCard.tsx Stylesheet
*/

.MuiCard-root {
  background-color: #f5f5f5 !important;
}

.vocab-card-container {
  min-width: 10em;
  width: 50%;
  margin: auto;
}

.vocab-card-heading {
  text-align: center;
}

.vocab-card-language {
  position: relative;
  bottom: 0.5em;
  display: inline;
  margin-left: 0.5em;
}

.vocab-card-language-container {
  text-align: center;
}
