/* 
  VocabCard.tsx Stylesheet
*/

.vocab-card-card.MuiCard-root {
  height: 10em !important;
  background-color: #fafafa !important;
}

.vocab-card-container {
  min-width: 10em;
  width: 50%;
  margin: auto;
}

.vocab-card-heading {
  text-align: center;
}

.vocab-card-language {
  position: relative;
  bottom: 0.5em;
  display: inline;
  margin-left: 0.5em;
  text-align: center;
}

.vocab-card-language-container {
  text-align: center;
}
