/* 
  PackCreate.tsx Stylesheet
*/

.pack-create-container {
  margin: auto;
  width: 50%;
}

.pack-create-word-functions-container {
  margin-top: 3em;
}

.pack-create-button {
  margin-top: 2em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pack-create-container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 301px) {
  .pack-create-container {
    width: 95%;
    margin: auto;
  }
}
