/* 
  PackView.tsx Stylesheet
*/

.pack-view-container {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 845px) {
  .pack-view-container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  .pack-view-container {
    width: 90%;
    margin: auto;
  }
}
