/* 
  LanguageFlag.tsx Stylesheet
*/

.language-flag-label {
  display: block;
  text-align: right;
  margin-top: -0.5px;
  padding-right: 0.3em;
}

.language-flag-icon {
  display: block;
  margin-left: auto;
}
