/* 
  ProgressBar.tsx Stylesheet
*/

.progress-bar-container {
  width: 80%;
  margin: auto;
}

.progress-bar-numerical {
  display: block;
  width: 20%;
  font-size: 0.8em;
}

.progress-bar-bar-container {
  margin-top: -0.2em;
}

.MuiLinearProgress-root {
  height: 0.7em !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #9575cd !important;
}

.MuiLinearProgress-barColorSecondary {
  background-color: #9575cd !important;
}
