/* 
  VocabCard.tsx, VocabCardButton.tsx, VocabCardLoading.tsx Stylesheet
*/

/* VocabCard */

.vocab-card-card.MuiCard-root,
.vocab-card-card.card-button.MuiCard-root {
  /* height: 10em !important; */
  background-color: #fafafa !important;
  border-top: 0.2em transparent solid;
}

.vocab-card-card.flipped.MuiCard-root {
  border-top: 0.2em #9575cd solid;
}

.vocab-card-container {
  min-width: 10em;
  width: 50%;
  margin: auto;
  text-align: center;
}

.vocab-card-language {
  position: relative;
  bottom: 0.5em;
  display: inline;
  margin-left: 0.5em;
  text-align: center;
}

.vocab-card-language-container {
  text-align: center;
}

.vocab-card-save-button {
  margin-left: auto !important;
}

/* VocabCardButton */

.vocab-card-card.card-button.MuiCard-root {
  height: 100% !important;
}
