/* 
  WordSearchBar.tsx Stylesheet
*/

.word-search-bar-label,
.word-search-bar-more-info-button {
  text-align: center;
}

.word-search-bar-more-info-button {
  position: relative;
  bottom: 0.5em;
  margin-bottom: 1em;
}

.word-search-bar-search-functionality {
  display: flex;
  flex-direction: row;
}

.word-search-bar-input {
  width: 100%;
}

.word-search-bar-add-button .MuiButton-root {
  height: 4em;
}

.word-search-bar-label {
  font-size: 0.8em;
}
